.home {
  background-image: url("./../../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeSectionFirst {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.homeSectionIntro {
  width: 65%;
}
.homeSectionChatBot {
  width: 45%;
}
.btn {
  outline: none;
  border: 1px solid #e6e6e6;
  font-family: "Poppins", sans-serif;
  border-radius: 18px;
  padding: 10px 10px;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
}

.ejoy {
  background-color: #979797;
  color: #ffffff;
  font-weight: 600px;
}

.homeSectionIntro h1 {
  font-family: "Syne", sans-serif;
  font-weight: 500;
  font-size: 55px;
  color: #000000;
  letter-spacing: 0.01em;
  margin: 15px 0;
  padding-right: 50%;
  width: 120%;
}

.homeSectionIntro h2 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.01em;
  color: #454545;
  width: 80%;
  font-size: 1rem;
}
.homeJoinUs {
  display: flex;
  gap: 20px;
  font-family: "Inter", sans-serif;
  margin-top: 25px;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
}
.homeJoinUsImgs {
  display: flex;
  align-items: center;
}
.homeJoinUsImgs img {
  width: 50px;
  height: 50px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.homeJoinHide {
  margin-left: -30px;
}
.homejoinText {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #6154a4;
  color: white;
  border: 3px solid #ffffff;
  margin-left: -30px;
}
.homeJoinUsText {
  font-size: 20px;
}
.homeCodeMapping {
  position: relative;
}

.homeCodeMapping .codeblock {
  margin-top: 16%;
}

.homeCodeMapping .arrow1Img {
  width: 90%;
  margin-left: 55%;
  margin-top: -20%;
  margin-bottom: 30px;
}
.homeCodeMapping .arrow2Img {
  width: 70%;
  position: absolute;
  right: -110px;
  top: -50px;
}

.homeSectionChatBot {
  position: relative;
}
.chatbotImg1 {
  height: 500px;
  margin-left: 50%;
  margin-top: 20%;
}
.chatbotImg2 {
  height: 450px;
  position: absolute;
  left: 20%;
  top: 60px;
  z-index: -1;
}

.homeSectionTransform {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.homeSectionTransform h1 {
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

.homeSectionTransform p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.homeSectionGenerateBottom {
  display: flex;
}
.homeSectionGenerateBottom .firstCard {
  width: 40%;
  margin-top: -100px;
}
.homeFooter {
  background-color: #454546;
  color: white;
  padding-bottom: 20px;
  width: 100%;
}
.homeFooter .footerliHeader {
  font-family: "Syne", sans-serif;
  font-size: 2rem;
}
.homeFooter ul {
  list-style: none;
}
.footerTable ul {
  padding-left: 0;
}
.homeFooter .footerTable li {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  margin: 20px 0;
}
.homeFooter .footerTable {
  display: flex;
  justify-content: space-between;
}
.homeFooter .ul {
  width: 20px;
}
.homeFooter h1 {
  font-family: "Syne", sans-serif;
}
.footerInfo {
  display: flex;
}
.footerInfo ul {
  display: flex;
  gap: 20px;
  padding-left: 0;
  font-size: 1.3rem;
}
.footerSocials,
.footerTerms {
  width: 50%;
}
ul.footerTerms {
  justify-content: right;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container {
  padding: 5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.homeSectionTransformContainer {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-top: 10px;
}

.homeSectionTransformContainText {
  font-weight: 300;
  margin-top: 20px;
}

.homeSectionTransformContainer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.homeSectionTransformContain {
  display: flex;
  align-items: center;
}

.homeSectionTransformContain h1 {
  font-size: 15px;
  margin-right: 10px;
}

.homeSectionTransformContain button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 35px;
}

.homeSectionTransformContain button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 1025px) {
  .homeSectionIntro {
    width: 100%;
  }

  .homeSectionIntro h1 {
    width: 120%;
  }

  .homeSectionIntro h2 {
    width: 100%;
  }

  .homeSectionChatBot .chatbotImg {
    width: 100%;
    display: none;
  }

  .homeSectionIntro h1 {
    font-size: 50px;
  }
  .homeSectionIntro h2 {
    font-size: 15px;
    line-height: 25px;
  }
  .homeCodeMapping .codeblock {
    width: 100%;
  }
  .homeCodeMapping .arrow1Img {
    display: none;
  }
  .homeCodeMapping .arrow2Img {
    display: none;
  }

  .chatbotImg1 {
    display: none;
  }

  .chatbotImg2 {
    display: none;
  }

  .homeSectionTransform {
    width: 100%;
  }

  .homeSectionTransformContainer {
    width: 90%;
  }
  .homeSectionComponent {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .homeFooter .footerTable {
    flex-direction: column;
  }
  .homeFooter .footerInfo {
    flex-direction: column;
  }
  .footerSocials {
    margin-bottom: 20px;
  }
  .footerTerms {
    margin-top: 20px;
  }
  .homeFooter .footerTerms {
    justify-content: center;
    width: auto;
  }
}

.TopContainer {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
}
*::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 20px;
}