.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 5%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 55px;
  width: 330px;
  font-size: large;
  border: 1px solid grey;
  padding-left: 8px;
  transition: border-color 0.3s;
}

.inputBox:focus {
  outline: none;
  border-color: purple;
}

.inputButton {
  height: 55px;
  width: 330px;
  font-size: large;
  border: 1px solid grey;
  margin-top: 8px;
  background-color: purple;
  color: white;
}

.link {
  color: purple;
  text-decoration: none;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  width: 100px;
  height: 1px;
  background-color: #000;
}

.or {
  margin: 0 10px;
  font-weight: bold;
  color: #000;
}

.container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.button {
  display: block;
  width: 300px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.google {
  background-color: #dd4b39;
  color: #fff;
}

.microsoft {
  background-color: #00a4ef;
  color: #fff;
}

.apple {
  background-color: #000;
  color: #fff;
}

.icon {
  margin-right: 5px;
}

/* Media Queries */

@media (max-width: 768px) {
  .inputBox {
    width: 270px;
  }
  .inputButton {
    width: 270px;
  }
  .titleContainer {
    font-size: 30px;
  }
  .button {
    width: 270px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    margin-top: 10%;
    justify-content: center;
    align-items: center;
  }

  .inputBox {
    width: 270px;
  }
  .inputButton {
    width: 270px;
  }
  .titleContainer {
    font-size: 30px;
  }

  .titleContainer {
    font-size: 24px;
  }
  .button {
    width: 270px;
  }
}
